* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
html {
  font-family: spoox;
}

input {
  outline: none;
  padding: 0.3em;
}

a {
  color: inherit;
}

.is-hidden {
  display: none !important;
}
.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
